<!DOCTYPE html>
<html>
  <head>
    <title>TeaShoppe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>

     <link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lemonada&display=swap" rel="stylesheet">

  </head>

  <body>

    <nav id="navbar">

      <%= link_to "Welcome", home_path %>

      <%# rewrite the following anchor tags to be `link_to` once the tea routes have been set up %>
      <a href="/teas">Teas Index</a>
      <a href="/teas/new">New Tea</a>

    </nav>

    <%= yield %>
  </body>
</html>
